---
layout: default
---

<div class="blog">
  {%- if page.title -%}
    <h1 class="page-heading">Unfiltered Thoughts</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
       {% unless post.tags contains "booksummaries" %}
        <li> <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span></li>
      {% endunless %}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
