---
layout: default
---
<div class="booksummaries">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

 {{ content }}
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
       {% if post.tags contains "booksummaries" %}
        <li> {%- assign date_format = site.minima.date_format | default: "%b '%Y" -%} <span class="post-meta">{{ post.date | date: date_format }}</span> <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a></li>
       {% endif %}
     {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
