<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- assign is_home_layout = false -%}
  {%- if page.layout == "home" -%}
    {%- assign is_home_layout = true -%}
  {%- endif -%}

  <body class="layout-{{ page.layout | default: 'page' }}">

    {%- unless is_home_layout -%}
      {%- include header.html -%}
    {%- endunless -%}

    <main class="{% if is_home_layout %}home-content{% else %}page-content{% endif %}" aria-label="Content">
      {%- if is_home_layout -%}
        {{ content }}
      {%- else -%}
        <div class="wrapper">
          {{ content }}
        </div>
      {%- endif -%}
    </main>

    {%- unless is_home_layout -%}
      {%- include footer.html -%}
    {%- endunless -%}

  </body>

</html>
